# Git environment
.git
.gitignore

# GitHub configuration
.github/

# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
.pytest_cache

# Cache linters and type checkers
.mypy_cache/
.ruff_cache/

# Environment variables
.env

# UV Cache
.uv_cache/

# Development tools configuration files
.pre-commit-config.yaml
.secrets.baseline

# Test code
tests/
performance_tests/.

# Documentation and notes that the app doesn't need
README.md

# Licenses
LICENSE

# Configuration files for editors
.vscode/

# Static
assets/

# Docker files
Dockerfile
docker-compose.yaml
.dockerignore

# Coverage reports
.coverage
