repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: ^tests/
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: .env.example
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        exclude: ^tests/
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude: ^(alembic/versions/|performance_tests/)

  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports
        exclude: ^alembic/
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        exclude: ^(tests/|alembic/|performance_tests/|scripts/)
        additional_dependencies: ["pydantic", "sqlalchemy[mypy]", "types-redis"]
        args: [--config-file=setup.cfg]
